body {
      animation: colorchange 100s infinite;
      -webkit-animation: colorchange 100s infinite;
      background-repeat: 
    }

    @keyframes colorchange
    {
      0%   {background: #ff3535;}
      10%  {background: #ff8234;}
      20%  {background: #fff830;}
      30%  {background: #c7ff30;}
      40%  {background: #63ff30;}
      50%  {background: #30ffbd;}
      60%  {background: #30c0ff;}
      70%  {background: #4430ff;}
      80%  {background: #ac30ff;}
      90%  {background: #ff30ce;}
      100% {background: #ff3535;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: #ff3535;}
      10%  {background: #ff8234;}
      20%  {background: #fff830;}
      30%  {background: #c7ff30;}
      40%  {background: #63ff30;}
      50%  {background: #30ffbd;}
      60%  {background: #30c0ff;}
      70%  {background: #4430ff;}
      80%  {background: #ac30ff;}
      90%  {background: #ff30ce;}
      100% {background: #ff3535;}
  }
table, td, th {
    border: 1px solid grey
   ;
}

table {
    border-collapse: collapse;
    width: 800px;
}

td {
    height: 45px;
    vertical-align: bottom;
}
th {
	height: 30px;
}
tbody > tr > td:hover {
	background-color: yellow;
}
tbody > tr > th:hover {
	background-color: blue;
}