body {
      animation: colorchange 1s infinite;
      -webkit-animation: colorchange 1s infinite;
      background-repeat: 
    }

    @keyframes colorchange
    {
      0%   {background: white;}
      10%  {background: red;}
      20%  {background: white;}
      30%  {background: blue;}
      40%  {background: red;}
      50%  {background: white;}
      60%  {background: blue;}
      70%  {background: white;}
      80%  {background: red;}
      90%  {background: blue;}
      100% {background: white;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: white;}
      10%  {background: red;}
      20%  {background: white;}
      30%  {background: blue;}
      40%  {background: red;}
      50%  {background: white;}
      60%  {background: blue;}
      70%  {background: white;}
      80%  {background: red;}
      90%  {background: blue;}
      100% {background: white;}
  }
.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 10px solid #CCCCCC;
  border-right: 10px solid #333333;
  border-bottom: 10px solid #333333;
  border-left: 10px solid #CCCCCC;
}
#h1 {
  font-size: 200px
}
#a1 {
  font-size: 200px;
}
#audio1 {}